<%- include("partials/header") -%>

  <body>

   <!-- Navigation Bar and title -->
    <section id="title">
      <div class="container-fluid">

      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark " style="padding:0px 6px ;">

          <a class="navbar-brand " href="#"><img src="/Images/CG.jpg" style="padding-right:10px; padding-top:5px;" width="45" height="35" class="d-inline-block align-top" alt="">C-Guide</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <ul class="navbar-nav mx-auto">
                  <li class="nav-item active mx-2">
                    <a class="nav-link" href="/first">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item mx-2">
                    <a class="nav-link" href="">Notification</a>
                  </li>

                  <li class="nav-item mx-2">
                    <a class="nav-link " href="/about">About Us</a>
                  </li>

                  <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#"><%= fname %> <%= lname %></a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Messages</a>
                      <a class="dropdown-item" href="#">Your Content</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Help</a>
                      <a class="dropdown-item" href="#">Logout</a>
                    </div>
                  </li>

               </ul>


               <!-- Search Bar -->
               <form class="form-inline my-2 my-lg-0"  action="/first" method="post">
                 <input class="form-control mr-sm-2" type="search" placeholder="Ask your Question" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Ask</button>
               </form>

         </div>
         </div>
      </nav>

<section id="Post" class="post-section">
     <!-- Post 1 -->
     <div class="card border-dark mb-3 posts">

       <div class="card-header">
           <h5 class="card-title"><img class="user_image" src="https://st3.depositphotos.com/3581215/18899/v/1600/depositphotos_188994514-stock-illustration-vector-illustration-male-silhouette-profile.jpg" alt=""><%= post.userName %></h5>
           <h6 class="card-subtitle mb-2 text-muted"><span>Shared publicly</span> - <span> <%= post.date %></span></h6>
       </div>

       <div class="card-body">
           <p class="card-text"> <%= post.question %> </p>
       </div>


       </div>


     <div class="card text-white bg-info" style="  margin-top:30px; margin-bottom: 30px;">

       <div class="card-header">
           Comments
       </div>

     </div>

<!-- COMMENTS -->
<% for(var i=0;i<post.comments.length;i++) { %>
<div class="card" style="margin-bottom:8px">
   <div class="card-body">
     <h5 class="card-title" style="font-size:0.9rem"><img class="user_image" style="width: 20px;height:20px;" src="https://st3.depositphotos.com/3581215/18899/v/1600/depositphotos_188994514-stock-illustration-vector-illustration-male-silhouette-profile.jpg" alt="">User | <%= post.comments[i].date %></h5>
     <hr style="margin-top:5px;margin-bottom:5px;background-color:red">
     <p class="card-text"><%= post.comments[i].comment %></p>
   </div>
</div>
<% } %>


</section>
